#boardContainer {
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    font-size: 5rem;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
    border-color: black;
}

.boardTile { 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #DDDDDD solid;
}

.boardTile:hover { 
    background-color:beige;
}
#Players {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}
.gameButton {
    display: flex;
    justify-content: center;
    margin-top: 2rem
}
#results {
    height: 5rem;
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width: 480px) {
    #boardContainer {
        margin-top: 1rem;
        display: grid;
        justify-content: center;
        font-size: 1rem;
        grid-template-columns: 3rem 3rem 3rem;
        grid-template-rows: 3rem 3rem 3rem;
    }
    input {
        width: 8rem;
    }
    #results {
        height: 2rem;
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;
    }    
}