#boardContainer {
    margin-top: 10rem;
    display: grid;
    justify-content: center;
    font-size: 5rem;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
}

.boardTile { 
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid red;
}
#Players {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.gameButton {
    display: flex;
    justify-content: center;
    margin-top: 2rem
}